.message {
    float: left;
    margin: 50px;
    text-align: center;
}

.name {
    color: #000;
    background: #FFF;
    padding: 1em 1.5em;
    border-radius: 2em;
    margin-right: 0.25em;
    font-weight: bold;
}

.amount {
    font-weight: 300;
}

.comment {
    margin-left: 0.5em;
}