.message {
  float: left;
  margin: 50px;
  text-align: center;
  opacity: 1;
  transition: all 1s ease-out;
}

.hide {
  transition: all 1s ease-out;
  opacity: 0;
}

.name {
  color: #000;
  background: #fff;
  padding: 1em 1.5em;
  border-radius: 2em;
  margin-right: 0.25em;
  font-weight: bold;
}

.amount {
  font-weight: 300;
}

.comment {
  margin-left: 0.5em;
}
