.title {
    font-size: 42px;
    padding: 33px;
}

.message {
    font-size: 24px;
    margin-bottom: 24px;
    margin-left: 33px;
    margin-right: 33px;
}

.action {
    margin-top: 8px;
}

.messageActor {
    color: #255AF6;
    background-color: white;
    padding: 3px;
    padding-top: 0;
}

.actor {
    background-color: white;
    color: #0041FF;
}

.action {
    color: white;
}