.tickerMessage {
    color: white;
    font-size: 28px;
    right: 0;
    bottom: 0;
    padding: 14px 5px;
}

.tickerMessageActor {
    color: #255AF6;
    background-color: white;
}

.tickerActor {
    background-color: white;
    color: #255AF6;
}

.tickerAction {
    color: black;
}