.messageRotator {
    text-align: left;
    color: white;
    font-weight: 700;
    font-family: Roboto Mono, serif;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
}

.background {
    height: 100vh;
    color: rgba(0, 0, 0, 0.4);
}