/* same as .generateLinkPage */
.tipping {
  background: #fff;
  color: #000;
  border-radius: 1em;
  margin: 50px;
  display: inline-block;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
}
