.rotatorMessage {
    color: #fff;
    font-size: 28px;
    right: 0;
    bottom: 0;
    padding: 14px;
    background-color: rgba(0, 0, 0, 0.1);
}

.rotatorMessageActor {
    color: #000;
    background-color: #42FF00;
}

.rotatorActor {
    background-color: #42FF00;
    color: #000;
}

.rotatorAction {
    color: black;
}