.rotatorMessage {
    font-size: 28px;
    right: 0;
    bottom: 0;
    padding: 14px;
}

.messageActor {
    color: #255AF6;
    background-color: white;
}

.actor {
    background-color: white;
    color: #0041FF;
}

.action {
    color: white;
}