.rotatorMessage {
    color: #000;
    font-size: 28px;
    right: 0;
    bottom: 0;
    padding: 14px;
}

.rotatorMessageActor {
    color: #000;
    background-color: white;
}

.rotatorActor {
    background-color: white;
    color: #000;
}

.rotatorAction {
    color: black;
}