@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background:#333;
  color: #FFF;
}

body > div {
  padding: 1em;
}